*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    overscroll-behavior: none;
}
:root {
    --white: #FFFFFF;
    --primary-sky-blue: #3399CC;
    --light-sky-blue: #CEE7F2;
    --dark-gray: #333333;
    --forest-green: #468C00;
    --bs-border-width:1.5px !important;
    --bs-border-color:#ccc !important;
}
.cursor-pointer{
    cursor: pointer;
}
.bg-sky-blue{
    background-color: var(--primary-sky-blue) !important;
}
.bg-white{
    background-color: var(--white) !important;
}
.bg-light-sky-blue{
    background-color: var(--light-sky-blue) !important;
}
.bg-dark-grey{
    background-color: var(--dark-gray) !important;
}
.bg-forest-green{
    background-color: var(--forest-green) !important;
}
.text-white{
    color: var(--white) !important;
}
.fw-700{
    font-weight:300;
}
.outline-0{
    outline: none;
}
.btn {
    padding: 8px 20px !important;
    border-radius: .5625rem !important;
    cursor: pointer !important;
    font-weight: 700 ;
}
.btn--white {
    background-color: var(--white) !important;
    color: #ff4a4a !important;
}
.btn--pale-red {
    background-color: rgba(253, 94, 94, 0.7) !important;
    color: var(--dark-gray) !important;
}
.btn--sky-blue {
    background-color: var(--primary-sky-blue) !important;
    color: var(--white) !important;
}
.btn--light-sky-blue {
    background-color: var(--light-sky-blue) !important;
    color: var(--dark-gray) !important;
}
.btn--dark-grey {
    background-color: var(--dark-gray) !important;
    color: var(--white) !important;
}
.btn--forest-green {
    background-color: var(--forest-green) !important;
    color: var(--white) !important;
}
.btn--large {
    font-size: 1.5rem !important;
    padding: 1rem 2rem !important;
}
.btn--medium {
    font-size: 1rem !important;
    padding: .8rem !important;
}
.btn--small {
    font-size: 0.8rem !important;
    padding: .3rem .7rem !important;
}
.btn:hover {
    opacity: 0.9 !important;
}
.extra-small-text{
    font-size: .7rem;
}